$main-color: #FEF8F0;
$warning-color: #FFF0F0;
$secondary-color: #FFF3E3;
$font-color: #808080;
$main-font: 'Roboto', sans-serif;

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
