.theme-buttons {
  padding: 0 2vw;
  height: 3.4vmin;
  width: 15vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &-element {
    display: block;
    border: 1px solid var(--border-color, #e6e6e6);
    border-radius: var(--circled, 1.5vmax);
    margin: 1vmin;
    height: 3vmin;
    width: 3vmin;

    &:focus {
      outline: none;
    }
  }
}
