.letter-button {
  cursor: pointer;
  border: none;
  font: inherit;
  color: inherit;
  padding: 0.25vmax 0.5vmax;
  background-color: var(--color-secondary);
  border-radius: var(--circled);
  transition: background-color 0.5s ease-in-out;

  &:focus {
    outline: none;
  }

  &:hover,
  &:active,
  &:focus {
    color: var(--font-hover-color);
    background-color: var(--side-buttons-color);
  }

  &--disabled {
    color: var(--disabled-color);
    cursor: default;

    &:hover {
      color: var(--disabled-color) !important;
      background-color: inherit !important;
    }
  }
}
