@import 'src/app/styles/variables';

.letter-button {
  cursor: pointer;
  border: none;
  font: inherit;
  color: inherit;
  background-color: $secondary-color;
  min-width: 20px;
  min-height: 20px;
  padding: 2px;
  border-radius: 4px;

  &:focus {
    outline: none;
  }

  &:hover,
  &:active,
  &:focus {
    color: $font-color;
    background-color: fade-out($font-color, 0.8) !important;
  }

  &--disabled {
    color: lighten($font-color, 30%);
    cursor: default;

    &:hover {
      color: lighten($font-color, 30%);
      background-color: inherit !important;
    }
  }
}
