.letter-footer-info {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-secondary, #fff3e3);
  font: inherit;
  height: 5vh;
  font-size: 2.2vmin;
  line-height: 3vmin;
  color: var(--info-color, #b3b3b3);
  transition: background-color 0.5s ease-in-out, сolor 0.5s ease-in-out;

  &-element, &-button {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    margin: 0 1vw 0 0.5vw;
  }

  &-button {
    width: 18vmax;
    background-color: inherit;
    font-size: 3vmin;

    &--hover {
      &:hover {
        background-color: var(--button-color, rgba(128, 128, 128, 0.2));
        color: var(--font-hover-color, #808080);
      }
    }
  }
}
