@import 'src/app/styles/variables';

.letter-footer-info {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  background-color: $secondary-color;
  font: inherit;
  height: 5vh;
  font-size: 2vmin;
  line-height: 3vmin;
  color: lighten($font-color, 20%);

  &-element, &-button {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px 2px 2px;
  }

  &-button {
    width: 18vmax;
    background-color: $secondary-color;
    font-size: 3vmin;
    text-align: center;
  }
}
