@import 'src/app/styles/variables';

.letter-body-input {
  font: inherit;
  box-sizing: border-box;
  height: 88vh;
  width: 85vw;
  resize: none;
  background-color: $main-color;
  border: none;
  font-size: 18px;
  color: $font-color;
  line-height: 22px;
  overflow: auto;
  padding: 10px 25px;
  border-left: solid 1px lighten($font-color, 40%);
  border-bottom: solid 1px lighten($font-color, 40%);

  &:focus {
    outline: none;
    border-left: solid 1px $font-color;

    &:empty:before {
      color: $font-color;
    }
  }

  &:hover {
    &:empty:before {
      color: $font-color;
    }
  }

  &:empty:before {
    content: attr(placeholder);
    display: block;
    color: lighten($font-color, 20%);
  }
}
