@import 'src/app/styles/variables';

.side-bar {
  color: $font-color;
  background-color: $secondary-color;
  width: 18vmax;
  height: 100%;
  overflow: hidden;

  &--empty {
    font-size: 2vmin;
    user-select: none;
    text-align: center;
    margin: 10px;
    color: lighten($font-color, 20%);
  }

  &-letter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    color: $font-color;
    height: 8vmin;
    padding: 0 5px;
    border: none;
    border-bottom: solid 1px lighten($font-color, 40%);

    &-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 5vmin;

      &-title {
        font-size: 2.3vmin;
        line-height: 2.3vmin;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &-button {
        background-color: darken($main-color, 5%);
        display: none;
        font-size: 2vmin;
      }
    }

    &-info {
      user-select: none;
      color: lighten($font-color, 20%);
      font-size: 2vmin;
      line-height: 2vmin;
      height: 3vmin;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      &-date {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &:hover {
      background-color: darken($main-color, 5%);

      .side-bar-letter {
        &-header-button {
          display: block;
        }

        &-info-button {
          background-color: darken($main-color, 5%);
        }
      }
    }
  }
}
