.side-bar {
  color: var(--font-color);
  background-color: var(--color-secondary);
  width: 18vmax;
  height: 100%;
  overflow: hidden;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

  &--empty {
    font-size: 2vmin;
    user-select: none;
    text-align: center;
    margin: 2.5vmax;
    color: var(--info-color);
  }

  &-letter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    color: var(--font-color);
    height: 8vmin;
    padding: 0 1vw;
    border: none;
    border-bottom: solid 0.15vmax var(--border-color);

    &-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 5vmin;

      &-title {
        font-size: 2.3vmin;
        line-height: 2.3vmin;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &-button {
        background-color: var(--color-hover);
        color: var(--font-hover-color);
        display: none;
        font-size: 2vmin;
      }
    }

    &-info {
      user-select: none;
      color: var(--info-color);
      font-size: 1.6vmin;
      line-height: 2vmin;
      height: 3vmin;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      &-date {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &:hover {
      background-color: var(--color-hover);
      color: var(--font-hover-color);

      .side-bar-letter {
        color: var(--font-hover-color);

        &-header-button {
          display: block;
        }

        &-info {
          color: var(--font-hover-color);

          &-button {
            background-color: var(--color-hover);
            color: var(--font-hover-color);

            &:hover {
              background-color: var(--side-buttons-color);
              color: var(--font-hover-color);
            }
          }
        }
      }
    }
  }
}
