.letter-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 97vw;
  height: 7vh;
  background-color: var(--color-main);
  border-bottom: solid 0.15vmax var(--border-color);
  transition: background-color 0.5s ease-in-out, border 0.5s ease-in-out;

  &:focus-within {
    outline: none;
    background-color: var(--input-color);
    border-bottom: solid 0.15vmax var(--font-color);
  }
}
